<ion-header>
  <ion-toolbar>
    <ion-title>
      Bike Rental Dapp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to your campus's bikes Renting App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can check for the bikes available for rent , or you may want to post your own bike for Rent</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Bikes For Rent</ion-label>
      </ion-list-header>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form>
            <ion-item>
              <ion-label>ID :</ion-label>
              <ion-textarea  [disabled]=true>1</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Type :</ion-label>
              <ion-textarea [disabled]=true>vtt</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Maximum Time Available :</ion-label>
              <ion-textarea [disabled]=true>1h</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Owner :</ion-label>
              <ion-textarea [disabled]=true>0x7744734e585DB78AF330F7b7ABA3898c9E69BFf8</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Location :</ion-label>
            </ion-item>
            <ion-item>                    
              <iframe width="100%" height="200" frameborder="0"
                src="https://industrial.ubidots.com/app/dashboards/public/widget/et1tPpoexpY-BX37VI56SdrEicc?embed=true"></iframe>
            </ion-item>
            <ion-button expand="block" color="secondary" ion-button type="submit">RENT IT</ion-button>
          </form>

        </ion-card-content>
      </ion-card>
    </ion-list>

<ion-item>
  <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">
  </ion-input>
</ion-item>
<button ion-button full icon-left (click)="createCode()">
  <ion-icon name="barcode">Create Code</ion-icon>
</button>
<button ion-button full icon-left (click)="scanCode()">
  <ion-icon name="qr-scanner">Scan Code</ion-icon>
</button>

<ion-card *ngIf="createdCode">
 <!-- <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>  -->
  <ion-card-content>
    <p>Value: {{createdCode}}</p>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="scannedCode">
  <ion-card-content>
    Result from Scan : {{scannedCode}}
  </ion-card-content>
</ion-card>
</ion-content>
