<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form >
      <ion-item>
        <ion-label>address :</ion-label>
        <ion-textarea [(ngModel)]="account" [disabled]=true>0x0e2D6AeC0D71c79C09c9E05dfdf73Ed65B0c7BCf</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>id :</ion-label>
        <ion-textarea [(ngModel)]="id" [disabled]=true>1</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Name :</ion-label>
        <ion-textarea balance="name" [disabled]=true>sofien</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>CIN :</ion-label>
        <ion-textarea  [(ngModel)] ="cin" [disabled]=true >0001011010101</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Balance :</ion-label>
        <ion-textarea [(ngModel)]="balance" [disabled]=true>0.9998 ether</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>MAIL :</ion-label>
        <ion-input  [(ngModel)] = "mail"  type="email">sofien.chaouch@gmail.com</ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number :</ion-label>
        <ion-textarea [(ngModel)]= "phone_number">55555555</ion-textarea>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!todo.valid" (click)="editProfile()">Save</ion-button>

    </form>

</ion-content>
