<ion-header>
  <ion-toolbar>
    <ion-title>
      My Bikes
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--       uint id ;
        string location ;
        bool for_rent;
        uint price;
        string bike_type;
        address payable owner;
        bool locked;
        //rent mesurments
        address renter;
        uint max_time ;
        uint begin_rent_time;
        uint payed;
        uint key;-->
<ion-content>
      <ion-card >
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title>My Personal Bike</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <form>
            <ion-item>
              <ion-label>ID : </ion-label>
              <ion-textarea [(ngModel)]="id" [disabled]=true>2</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Type :</ion-label>
              <ion-textarea >bmx</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>Maximum Time Available :</ion-label>
              <ion-textarea >1h</ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label>For Rent :</ion-label>
              <ion-toggle color="primary"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Location :</ion-label>
              <ion-textarea [disabled]=true></ion-textarea>
            </ion-item>
            <ion-button expand="block" color="success" type="submit">Add</ion-button>
            <ion-button expand="block" color="danger" type="submit">Remove</ion-button>
          </form>
                
        </ion-card-content>
      </ion-card>

            <ion-card>
              <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>My Rented Bike</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <form>
                  <ion-item>
                    <ion-label>ID :</ion-label>
                    <ion-textarea [disabled]=true>1</ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Type :</ion-label>
                    <ion-textarea [disabled]=true>vtt</ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Maximum Time Available :</ion-label>
                    <ion-textarea [disabled]=true>1h</ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Owner :</ion-label>
                    <ion-textarea [disabled]=true>0x7744734e585DB78AF330F7b7ABA3898c9E69BFf8</ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label>Location :</ion-label>
                    <ion-textarea [disabled]=true></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <iframe width="100%" height="200" frameborder="0"
                      src="https://industrial.ubidots.com/app/dashboards/public/widget/et1tPpoexpY-BX37VI56SdrEicc?embed=true"></iframe>
                  </ion-item>
                  <ion-item>
                    <ion-label>Lock :</ion-label>
                    <ion-toggle color="primary"></ion-toggle>
                  </ion-item>
                  <ion-button expand="block" color="danger" type="submit">END RENT</ion-button>
                </form>

              </ion-card-content>
            </ion-card>
  
</ion-content>








